
.FuelQuoteForm{
  max-width: auto;
  margin: 3% auto;
  padding: 30px;
  font-family: Arial, sans-serif;

}
nav {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  cursor: pointer;
  margin-right: 20px;
  font-size: 18px;
}

nav li:hover {
  text-decoration: underline;
}
body {
  background-color: #0f4b2bba
}
h1 {
  
  font-size: 32px;
  margin-bottom: 20px;
}

label {
  width : 100%;
  font-size: 25px;
  text-shadow: 1px 1px rgb(0, 0, 0);
  color: #ffffff;
  display: block;
  margin-bottom: 10px; 
  text-align: center;
}

.input {
  
  display:grid;
  justify-content: center;
  width: 900px;
  height: 30px;
  padding: 10px;
  border-radius: 60px;
  margin-bottom: 10px;
  border: none;

  font-size: 20px;
  
  
}

button {
  margin-top: 10px;
  background-color: #284335;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
