ProfileForm{
    max-width: auto;
    margin: 3% auto;
    padding: 30px;
    font-family: Arial, sans-serif;
}
h1 {
    border-bottom: 1px solid white;
    color: #000000;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    padding: 10px;
    text-align: center;
  }

  label {
    color: #ffffff;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
  }


  nav {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }

  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    cursor: pointer;
    margin-right: 20px;
    font-size: 18px;
  }
  
  nav li:hover {
    text-decoration: underline;
  }
  body {
    background-color: #0f4b2bba
  }
  
  option {
    display: grid;
    justify-content: center;
    width: 900px;
    height: 30px;
    padding: 10px;
    border-radius: 60px;
    margin-bottom: 10px;
    border: none;

    font-size: 20px;
  }
