*
{
  text-align: center;
}
.container
{
  display: flex;
  justify-content: center;
  height: 400px;
  width: 25%;
  background-color: #182B21;
  margin: 10% auto;
  padding-top: 30px;
  border-radius: 60px;
}
input
{
  width: 300px;
  height: 50px;
  border-radius: 60px;
  border: none;
  outline: none;
  background-color: #fff;
}
.name
{
  width: 40%;
  height: 30px;
}
.otherField
{
  width: 100%;
  height: 30px;
}
.sign
{
  height: 35px;
  width: 55%;
  background-color: #284335;
  color: white;
  border-radius: 60px;
}
.login
{
  height: 35px;
  width: 82%;
  background-color: #206040;
  color: white;
  border-radius: 60px;
}
.error
{
  color: brown;
}
.register_link
{
  color: white;
}
.field_container
{
  margin-bottom: 15px;
}
/* label
{
  position: absolute;
  padding-top: 103px;
  top: 29%;
  right: 45%;
  font-weight: 400;
} */
.main_button
{
  padding-top: 55px;
}
.title
{
  color: white;
}
.login_button
{
  padding-top: 55px;
}
.background-image 
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  object-fit: cover;
  z-index: -1;
}
